<section class="services">
    <div class="wrapper">
        <h2 class="service__title text-center fs-42">Nossos Serviços</h2>
        <hr class="yellow hr--line">
        <p class="text-center">Serviços premium com técnicas refinadas e produtos de alta qualidade</p>

        <div class="row g-4">
            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/corte-premium.jpeg"
                        alt="Corte Premium" title="Corte Premium">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Corte Premium</h3>
                        <p class="services__card-text">Corte personalizado com técnicas clássicas e modernas</p>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/barba-e-bigode.webp"
                        alt="Barba & Bigode" title="Barba & Bigode">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Barba & Bigode</h3>
                        <p class="services__card-text">Modelagem e finalização com produtos premium</p>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/tratamento-capilares.jpeg"
                        alt="Tratamentos Capilares" title="Tratamentos Capilares">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Tratamentos Capilares</h3>
                        <p class="services__card-text">Hidratação e tratamentos especializados</p>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/relaxamento.jpeg"
                        alt="Relaxamento" title="Relaxamento">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Relaxamento</h3>
                        <p class="services__card-text">Tratamento relaxante para cabelos e couro cabeludo</p>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/coloracao.webp" alt="Coloração"
                        title="Coloração">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Coloração</h3>
                        <p class="services__card-text">Técnicas modernas de coloração e reflexos</p>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="services__card card h-100  ">
                      <div class="services__card-image-wrapper">

                    <img class="services__card-image " src="assets/services/pacote-exclusivo.jpeg"
                        alt="Pacote Executivo" title="Pacote Executivo">
</div>
                        <div class="services__card-body card-body  text-light">
                        <h3 class="services__card-title fw-bold">Pacote Executivo</h3>
                        <p class="services__card-text">Pacote completo com serviços premium exclusivos</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>