@use '../../../styles/style-base' as *;

.footer {
    &__title {
        color: $color-secondary;
        font-weight: bold;
        text-decoration: none;
        
    }
    &__brand {
        text-decoration: none;
    }
    &__menu {
        text-transform: none;
        padding: 0;
    }
     &__menu li{
       color: $white;
       list-style-type: none;
       padding: 0;
    }

      &__menu li a{
       color: $white;
      text-decoration: none;
    }
    &__sociais &__sociais-btn {
    background-color: $grey;
    border-radius: 100%;
    padding: 13px;
    color: $color-secondary;
    }

}