<section class="history">
    <div class="container">
        <div class="wrapper">

            <div class="row">
                <div class="col-6 history__card">
                    <img src="assets/history/history.webp" class="history__card-image" title="Nossa história"
                        alt="Nossa história">
                    <div class="history__card-experience">
                        <p>15+</p>
                        <p class="text-center">Anos de Paixão</p>
                    </div>
                </div>

                <div class="col-6">
                    <h2 class="history__title">Nossa História</h2>
                    <hr class="yellow hr--line">
                    <p class="history__text">O Espaço Prado dos Cortes nasceu da paixão pela arte clássica da barbearia,
                        combinada com técnicas modernas e um compromisso inabalável com a excelência.</p>

                    <p class="history__text">Fundado por mestres barbeiros com mais de 15 anos de experiência, nosso
                        espaço foi criado para oferecer não apenas um corte de cabelo, mas uma experiência completa de
                        cuidado pessoal e refinamento.</p>

                    <p class="history__text">Cada detalhe foi pensado para proporcionar conforto, sofisticação e
                        resultados impecáveis. Aqui, tradição e inovação se encontram para criar a experiência
                        definitiva de grooming masculino.</p>

                </div>
            </div>

        </div>
    </div>
</section>