@use '../../../../../styles/style-base' as *;


.history {
    & {
        margin: 25px 0;
    }
    &__card {
        position: relative;
    }

    &__card-image {
     width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 80px 10px rgba($color-secondary, 0.25);
    border: 1px solid $color-secondary;
    }

&__card-experience {
    position: absolute;
    background-color: $color-secondary;
   
    padding: 25px 25px;
    border-radius: 10px;
        right: -3px;
    bottom: -30px;
}
&__card-experience p {
    margin: 0;
    color: #000;
    font-weight: bold;
}
@media only screen and (max-width:576px) {
    
}
}