<div class="container">
    <div class="wrapper">

   
<div class="d-flex flex-column justify-content-center align-items-center gap-20 mt-5">
      <figure class="header__logo">
               <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-scissors w-16 h-16 text-[#D4AF37] animate-pulse secondary-color" aria-hidden="true"><circle cx="6" cy="6" r="3"></circle><path d="M8.12 8.12 12 12"></path><path d="M20 4 8.12 15.88"></path><circle cx="6" cy="18" r="3"></circle><path d="M14.8 14.8 20 20"></path></svg>
            </figure>
            <h1 class="fs-62">Espaço Prado dos Cortes</h1>
            <h3 class="secondary-color">A Arte do Corte Premium</h3>
            <p>Experiência exclusiva em barbearia de luxo. Onde tradição encontra sofisticação.</p>
            <a href="#" class="btn btn--secondary fw-bold p-3" title="Agende seu horário">Agende seu horário</a>
</div>

 </div>
</div>